#header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 20px;
  align-items: center;

  .navbar {
    width: 200px;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
