// MEDIA QUERIES

@media (max-width: 900px) {
  #intro {
    .intro-illustration {
      width: 450px;
    }

    .title {
      padding: 0 10px;
    }

    .paragraph {
      padding: 0 15px;
    }
  }

  #main {
    padding-bottom: 190px;
  }

  #info {
    grid-template-columns: 370px;
  }

  #info-2 {
    grid-template-columns: 100%;
    grid-template-rows: 340px 320px;
    .illustration-info-2 {
      width: 400px;
    }
    .text-info-2 {
      padding: 0;
      .title {
        margin: 0 0 15px;
      }
    }
  }

  #testimonials {
    flex-direction: column;
    margin: 130px 60px;
    .testimonial {
      margin: 15px 0;
    }
  }

  #signup-box {
    width: 550px;
  }

  #footer {
    .footer-content {
      flex-direction: column;
      > div {
        margin: 10px 0;
      }
      .footer-content-2 {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 700px) {
  #signup-box {
    width: 450px;
  }
}

@media (max-width: 500px) {
  #header {
    margin: 20px 2px;

    .header-logo {
      height: 31px;
      width: 140px;

      g {
        transform: scale(0.6);
      }
    }

    .navbar {
      li {
        margin: 0 2px;
      }
    }
  }

  #intro {
    .intro-illustration {
      width: 340px;
    }

    .title {
      font-size: 30px;
      padding: 0 7px;
    }

    .paragraph {
      font-size: 15px;
      padding: 0 30px;
    }
  }

  #background {
    .bg-desktop {
      display: none;
    }
    .bg-mobile {
      display: block;
    }
  }

  #main {
    padding-bottom: 310px;
  }

  #info {
    grid-template-columns: 280px;
  }

  #info-2 {
    grid-template-rows: 240px 320px;
    margin: 0 30px;
    grid-gap: 30px;
    .illustration-info-2 {
      width: 300px;
    }
    .text-info-2 {
      .title {
        font-size: 18px;
      }
      .paragraph {
        font-size: 14px;
      }
      .link {
        font-size: 14px;
        .link-text::after {
          width: 148px;
        }
      }
    }
  }
  #testimonials {
    margin: 110px 60px;
  }

  #signup-box {
    width: 280px;
    padding: 35px 27px;
    .title {
      font-size: 23px;
    }
    .signup-form {
      flex-direction: column;
      .mail {
        margin-bottom: 15px;
        height: 45px;
        border-radius: 29px;
        width: 270px;
      }
      .primary-btn {
        height: 45px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 350px) {
  #header {
    padding: 10px 15px;
    .header-logo {
      width: 130px;
    }
    .navbar {
      a {
        font-size: 14px;
      }
    }
  }

  #intro {
    .intro-illustration {
      width: 300px;
    }
    .title {
      margin: 0 7px 25px;
    }
  }

  #info-2 {
    grid-gap: 30px;
    .illustration-info-2 {
      width: 280px;
    }
  }

  #signup-box {
    padding: 20px 10px;
    width: 270px;
    .signup-form {
      .mail {
        width: 240px;
      }
      .primary-btn {
        width: 260px;
      }
    }
  }

  #footer {
    .challenge {
      flex-direction: column;
      text-align: center;
    }
  }
}
