#info {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 370px 370px;
  grid-template-rows: 200px 200px;
  grid-gap: 40px;
  margin-bottom: 100px;

  .info-box {
    display: grid;
    grid-template-rows: 95px 27px 75px;

    .info-box-title {
      font-weight: 700;
      font-size: 18px;
    }

    .paragraph {
      line-height: 1.3;
      font-size: 14px;
    }

    svg {
      margin: 0 auto;
    }
  }
}
