#testimonials {
  position: relative;
  margin: 150px 60px 0;
  display: flex;
  justify-content: space-between;
  @include responsive(tablet) {
    flex-direction: column;
    margin: 130px 60px;
  }
  @include responsive(phone) {
    margin: 110px 60px;
  }

  .quotes {
    position: absolute;
    top: -40px;
    left: -15px;
    z-index: 0;
  }
  .testimonial {
    position: relative;
    z-index: 1;
    margin: 0 13px;
    background: hsl(219, 30%, 18%);
    @include responsive(tablet) {
      margin: 15px 0;
    }
    .paragraph {
      font-size: 14px;
      padding: 30px 20px 15px;
    }
    .testimonial-info {
      display: flex;
      align-items: center;
      padding: 0 20px 20px;
    }
    .image {
      width: 20px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .testimonial-name {
      font-size: 13px;
      font-weight: 700;
      margin: 5px 0;
    }
    .testimonial-title {
      font-size: 13px;
      margin: 5px 0;
    }
  }
}
