html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #1c2431;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

#container {
  color: #ececec;
}

#background .bg-desktop {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
@media only screen and (max-width: 500px) {
  #background .bg-desktop {
    display: none;
  }
}
#background .bg-mobile {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
@media only screen and (max-width: 500px) {
  #background .bg-mobile {
    display: block;
  }
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

.primary-btn {
  background: linear-gradient(45deg, #65e2d9, #339ecc);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0;
  transition: transform 0.6s, box-shadow 0.6s;
}

.primary-btn:hover {
  background: #1c2431;
  color: #65e2d9;
  border: 2px solid #339ecc;
  box-sizing: border-box;
  transform: translate(0, -5px);
  -webkit-box-shadow: 7px 7px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 13px -1px rgba(0, 0, 0, 0.75);
}

li a {
  color: #dbd9d9;
  font-size: 15px;
  text-decoration: none;
}
li a:hover {
  background: linear-gradient(45deg, #65e2d9, #339ecc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  cursor: pointer;
}

.logo:hover .path-logo {
  fill: url(#gradient-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 20px;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  #header {
    margin: 20px 2px;
  }
}
@media only screen and (max-width: 350px) {
  #header {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 500px) {
  #header .header-logo {
    height: 31px;
    width: 140px;
  }
}
@media only screen and (max-width: 350px) {
  #header .header-logo {
    width: 130px;
  }
}
@media only screen and (max-width: 500px) {
  #header .header-logo g {
    transform: scale(0.6);
  }
}
#header .navbar {
  width: 200px;
}
#header .navbar ul {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  #header .navbar ul li {
    margin: 0 2px;
  }
}
@media only screen and (max-width: 350px) {
  #header .navbar ul li a {
    font-size: 12px;
  }
}

#intro-content {
  position: relative;
}

#intro {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
#intro .intro-illustration {
  margin: 30px 0 40px;
  width: 500px;
}
@media only screen and (max-width: 900px) {
  #intro .intro-illustration {
    width: 450px;
  }
}
@media only screen and (max-width: 500px) {
  #intro .intro-illustration {
    width: 340px;
  }
}
@media only screen and (max-width: 350px) {
  #intro .intro-illustration {
    width: 300px;
  }
}
#intro .title {
  max-width: 600px;
  margin: 0 auto 25px;
}
@media only screen and (max-width: 900px) {
  #intro .title {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 500px) {
  #intro .title {
    font-size: 30px;
    padding: 0 7px;
  }
}
@media only screen and (max-width: 350px) {
  #intro .title {
    margin: 0 7px 25px;
  }
}
#intro .paragraph {
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  #intro .paragraph {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 500px) {
  #intro .paragraph {
    font-size: 15px;
    padding: 0 30px;
  }
}
#intro .primary-btn {
  width: 200px;
  height: 40px;
  margin: 26px auto 0;
}

#info {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 370px 370px;
  grid-template-rows: 200px 200px;
  grid-gap: 40px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 900px) {
  #info {
    grid-template-columns: 370px;
  }
}
@media only screen and (max-width: 500px) {
  #info {
    grid-template-columns: 280px;
  }
}
#info .info-box {
  display: grid;
  grid-template-rows: 95px 27px 75px;
}
#info .info-box .info-box-title {
  font-weight: 700;
  font-size: 18px;
}
#info .info-box .paragraph {
  line-height: 1.3;
  font-size: 14px;
}
#info .info-box svg {
  margin: 0 auto;
}

#info-2 {
  margin: 0 60px 70px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 900px) {
  #info-2 {
    grid-template-columns: 100%;
    grid-template-rows: 340px 320px;
  }
}
@media only screen and (max-width: 500px) {
  #info-2 {
    grid-template-rows: 240px 320px;
    margin: 0 30px;
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 350px) {
  #info-2 {
    grid-gap: 30px;
  }
}
#info-2 .illustration-info-2 {
  width: 480px;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  #info-2 .illustration-info-2 {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  #info-2 .illustration-info-2 {
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  #info-2 .illustration-info-2 {
    width: 280px;
  }
}
#info-2 .text-info-2 {
  padding: 30px;
}
@media only screen and (max-width: 900px) {
  #info-2 .text-info-2 {
    padding: 0;
  }
}
#info-2 .text-info-2 .title {
  margin: 60px 0 15px;
}
@media only screen and (max-width: 900px) {
  #info-2 .text-info-2 .title {
    margin: 0 0 15px;
  }
}
@media only screen and (max-width: 500px) {
  #info-2 .text-info-2 .title {
    font-size: 18px;
  }
}
#info-2 .text-info-2 .paragraph {
  margin: 15px 0;
}
@media only screen and (max-width: 500px) {
  #info-2 .text-info-2 .paragraph {
    font-size: 14px;
  }
}
#info-2 .text-info-2 .link {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  #info-2 .text-info-2 .link {
    font-size: 14px;
  }
}
#info-2 .text-info-2 .link .link-text {
  display: block;
  margin: 25px 0;
  color: #65e2d9;
  text-decoration: none;
}
#info-2 .text-info-2 .link .link-text::after {
  content: "";
  width: 166px;
  background: #65e2d9;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0.5px;
}
@media only screen and (max-width: 500px) {
  #info-2 .text-info-2 .link .link-text::after {
    width: 148px;
  }
}
#info-2 .text-info-2 .link .link-icon {
  transform: translateY(7%);
  margin: 0 5px;
  color: #65e2d9;
}

#testimonials {
  position: relative;
  margin: 150px 60px 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  #testimonials {
    flex-direction: column;
    margin: 130px 60px;
  }
}
@media only screen and (max-width: 500px) {
  #testimonials {
    margin: 110px 60px;
  }
}
#testimonials .quotes {
  position: absolute;
  top: -40px;
  left: -15px;
  z-index: 0;
}
#testimonials .testimonial {
  position: relative;
  z-index: 1;
  margin: 0 13px;
  background: #202a3c;
}
@media only screen and (max-width: 900px) {
  #testimonials .testimonial {
    margin: 15px 0;
  }
}
#testimonials .testimonial .paragraph {
  font-size: 14px;
  padding: 30px 20px 15px;
}
#testimonials .testimonial .testimonial-info {
  display: flex;
  align-items: center;
  padding: 0 20px 20px;
}
#testimonials .testimonial .image {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
#testimonials .testimonial .testimonial-name {
  font-size: 13px;
  font-weight: 700;
  margin: 5px 0;
}
#testimonials .testimonial .testimonial-title {
  font-size: 13px;
  margin: 5px 0;
}

#signup-box {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 700px;
  background: #1c2431;
  padding: 35px;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  bottom: -90px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media only screen and (max-width: 900px) {
  #signup-box {
    width: 550px;
  }
}
@media only screen and (max-width: 700px) {
  #signup-box {
    width: 450px;
  }
}
@media only screen and (max-width: 500px) {
  #signup-box {
    width: 280px;
    padding: 35px 27px;
  }
}
@media only screen and (max-width: 350px) {
  #signup-box {
    padding: 20px 10px;
    width: 270px;
  }
}
#signup-box .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 20px;
}
@media only screen and (max-width: 500px) {
  #signup-box .title {
    font-size: 23px;
  }
}
#signup-box .paragraph {
  margin-bottom: 10px;
}
#signup-box .signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
@media only screen and (max-width: 500px) {
  #signup-box .signup-form {
    flex-direction: column;
  }
}
#signup-box .signup-form .mail {
  width: 320px;
  height: 35px;
  border-radius: 18px;
  border: 0;
  padding-left: 20px;
}
@media only screen and (max-width: 500px) {
  #signup-box .signup-form .mail {
    margin-bottom: 15px;
    height: 45px;
    border-radius: 29px;
    width: 270px;
  }
}
@media only screen and (max-width: 350px) {
  #signup-box .signup-form .mail {
    width: 240px;
  }
}
#signup-box .signup-form .primary-btn {
  width: 230px;
  height: 40px;
  margin: 0 20px;
}
@media only screen and (max-width: 500px) {
  #signup-box .signup-form .primary-btn {
    height: 45px;
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  #signup-box .signup-form .primary-btn {
    width: 260px;
  }
}

#main {
  background-color: #181f2a;
  padding-top: 100px;
  padding-bottom: 300px;
  position: relative;
}
@media only screen and (max-width: 900px) {
  #main {
    padding-bottom: 190px;
  }
}
@media only screen and (max-width: 900px) {
  #main {
    padding-bottom: 310px;
  }
}

#footer {
  background: #0b1523;
  padding: 170px 30px 80px;
  position: relative;
  z-index: 0;
}
#footer .footer-logo {
  width: 150px;
}
#footer .footer-content {
  display: flex;
  margin: 40px 0 0;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  #footer .footer-content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  #footer .footer-content div {
    margin: 10px 0;
  }
}
#footer .footer-content .footer-content-1 {
  display: flex;
  align-items: baseline;
  max-width: 400px;
}
#footer .footer-content .footer-content-1 .location {
  transform: translate(0, 9px);
  margin-right: 24px;
}
@media only screen and (max-width: 900px) {
  #footer .footer-content .footer-content-2 {
    margin-bottom: 40px;
  }
}
#footer .footer-content .footer-content-2 .phone {
  margin-bottom: 16px;
}
#footer .footer-content .footer-content-2 img {
  margin-right: 15px;
}
#footer .footer-content li {
  margin-bottom: 15px;
}
#footer .footer-content .footer-content-5 {
  display: flex;
}
#footer .footer-content .footer-content-5 div {
  cursor: pointer;
  margin: 0 10px;
}
#footer .challenge {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 0);
  font-size: 13px;
}
@media only screen and (max-width: 350px) {
  #footer .challenge {
    flex-direction: column;
    text-align: center;
  }
}
#footer .challenge div {
  margin: 0 3px;
}
#footer .challenge div span {
  background: linear-gradient(45deg, #65e2d9, #339ecc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
